body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

.login-container {
  display: flex;
  align-items: center;
  height: 100vh;
  perspective: 1000px;
  margin-left: 10%;
}

.login-form {
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.login-form.rotated {
  transform: rotateY(360deg);
}

h2 {
  text-align: center;
  color: white;
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  color: white;
  margin-bottom: 0.3rem;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
}

.btn {
  width: 100%;
  margin-top: 1rem;
  padding: 10px;
  font-size: 1rem;
  background-color: #5c4efc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: linear-gradient(-90deg , yellow, pink); 
  border-radius: 25px;
}
